.button-group{
    width: 170px;
    height: auto;
    background-color: black;
    padding: 10px 0px;

    .button-group-item{
        color: white;
        width: 100%;
        height: 40px;
        background-color: black;
        border: none;
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
    }

    .button-group-item:hover{
        background-color: rgba($color: #ffffff, $alpha: 0.4);
    }
}