:root{
    --color: rgb(199, 174, 34);
}
.header{
    // header
    width: 100%;
    padding: 15px 0px;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    opacity: 0.9;
    color: black;
    position: fixed;
    z-index: 100;

    .header-left{
        width: 30%;
        text-align: left;
        padding-left: 120px;
        box-sizing: border-box;

        .header-left-logo{
            width: 80px;
            height: 70px;
        }
    }

    .header-right{
        width: 70%;
        text-align: right;
        padding-right: 120px;
        box-sizing: border-box;
        margin: 5px 0px;

        .header-right-information{
            display: flex;
            justify-content: right;
            font-size: 0.75em;
            margin-right: 10px;

            .header-right-information-bolder{
                margin-right: 10px;
                margin-left: -10px;
            }

            .header-right-information-child{
                display: flex;
                align-items: center;
                margin-right: 20px;

                .header-right-information-child-script{
                    margin-left: 5px;
                }

                .header-right-information-text{
                    width: 18px;
                    height: 14px;
                }
            }

            .phone, .email{
                transition: 0.3s;
            }

            .phone:hover, .email:hover{
                text-decoration: underline;
                cursor: pointer;
                color: var(--color);
            }

        }

        .header-right-menu{
            font-size: 0.9em;
            margin-top: 25px;

            .header-right-menu-nav{

                .header-right-menu-nav-content{
                    list-style: none;
                    display: flex;
                    justify-content: right;

                    .header-right-menu-nav-item{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 30px;
                        transition: 0.3s;
                        position: relative;

                        .header-right-menu-nav-item-content{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .header-right-menu-nav-item-notice{
                            display: none;
                            position: absolute;
                            top: 100%;
                            //left: 50%;
                            width: 100%;
                            transition: 0.3s;
                            z-index: 1;
                            padding-left: 100%;
                        }

                        .header-right-menu-nav-item-notice:hover{
                            display: block;
                        }

                        .header-right-menu-nav-item-btn-group{
                            display: none;
                            position: absolute;
                            top: 200%;
                            left: 0%;
                            width: 100%;
                            transition: 0.3s;
                        }
                    }

                    .header-right-menu-nav-item:hover{
                        cursor: pointer;
                        color: var(--color);

                        .header-right-menu-nav-item-btn-group{
                            display: block;
                        }
                    }

                    .header-right-menu-nav-item-content:hover ~ .header-right-menu-nav-item-notice{
                        display: block;
                    }
                }
            }
        }
    }
}

.header-scroll{
    // header
    padding: 10px 0px;
}