.list-room-main-des{

    padding: 50px 220px;
    font-weight: 400;
    font-size: 15px !important;
    color: rgb(87, 85, 85);

    .list-room-main-des-title{
        margin-bottom: 40px;
        text-align: center;
        font-weight: 400;
        color: black;
    }

    .list-room-main-des-img{
        margin-top: 40px;
        text-align: center;

        img{
            width: 320px;
            height: fit-content;
        }
    }

    h2{
        margin-bottom: 30px;
        font-weight: 400;
        color: black;
        font-size: 23px;
    }

    h4{
        margin-top: 20px;
        margin-bottom: 5px;
        font-weight: 400;
        color: black;
        font-size: 18px;
    }

    p{
        line-height: 1.8;
        text-align: center;
    }
}

.list-room-rooms{
    padding: 0px 9% 60px 12%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list-room-order-room-disable{
    display: none;
}

.list-room-order-room{
    width: 100%;
    height: 100vh;
    padding: 22px 15%;
    position: fixed;
    top: 0;
    background-color: rgba($color: #332004, $alpha: 0.6);
    z-index: 1000;
    box-sizing: border-box;

    textarea:focus, input:focus, select:focus{
        outline: none;
        background-color: rgba($color: #2a1c08, $alpha: 0.4);
    }

    select:focus{
        color: white;
    }

    .list-room-order-form{
        width: 100%;
        position: relative;
        background-color: white;
        color: rgb(87, 85, 85);
        text-align: center;
        font-size: 17px;
        padding: 10px 0px;
        box-sizing: border-box;

        .list-room-order-form-close{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            //padding: 10px;
            border-radius: 100%;
        }

        .list-room-order-form-close:hover{
            background-color: rgba($color: #2a1c08, $alpha: 0.4);
            cursor: pointer;
        }

        h1{
            font-weight: normal;
        }

        .list-room-order-form-hr{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            hr{
                width: 100px;
                border: 1.5px solid black;
            }  
        }

        h3{
            margin-top: 20px;
            font-size: 25px;
            font-weight: normal;
        }

        .list-room-order-form-1{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 10px 0px 10px 23px;
            box-sizing: border-box;
            
            div{
                width: 31%;
                text-align: left;
                margin-right: 23px;
                margin-bottom: 10px;

                select, input{
                    margin-top: 7px;
                    width: 100%;
                    height: 40px;
                    padding: 3px 10px;
                    box-sizing: border-box;
                    border: 1px solid rgb(87, 85, 85);
                    font-size: 15px;
                }
            }
        }
        .list-room-order-form-des{
            width: 100%;
            padding: 10px 23px;
            box-sizing: border-box;
            text-align: left;
            textarea{
                margin-top: 7px;
                width: 100%;
                height: 70px;
                padding: 3px 10px;
                box-sizing: border-box;
                font-size: 15px;
            }
        }

        .list-room-order-form-btn{
            width: 100%;
            padding: 10px 35px;
            box-sizing: border-box;

            button{
                color: white;
                width: 100%;
                background-color: black;
                height: 40px;
                font-size: 17px;
            }

            button:hover{
                cursor: pointer;
            }
        }
    }
}