.banner{
    display: flex;
    position: relative;
    
    .banner-child{
        width: 100%;
        //position: absolute;

        .banner-child-img{
            width: 100%;
            height: 754px;
        }
        .banner-child-img-after {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    }

    .banner-child-previous, .banner-child-next{
        position: absolute;
        z-index: 1;
        margin-top: 20%;
        width: 30px;
        height: auto;
    }

    .banner-child-previous{
        margin-left: 5%;
    }

    .banner-child-next{
        margin-left: 95%;
    }

    .banner-child-previous:hover{
        cursor: pointer;
    }

    .banner-child-next:hover{
        cursor: pointer;
    }
}