.footer{
    width: 100%;
    padding: 50px 120px 25px;
    box-sizing: border-box;
    color: #fff;
    background-image: url("../../Asset/Images/Bg-footer.jpg");
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    font-weight: normal;
    font-size: 15px;

    .footer-child{
        margin-right: 72px;
        line-height: 2.5;
        h3, h4{
            font-weight: normal;
            color: rgb(199, 174, 34);
        }
        h3{
            font-size: 22px;
        }

        div{
            display: flex;
            justify-content: left;
            align-items: center;
            span{
                margin-right: 5px;
            }
        }

        p:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .footer-special{
        margin-top: -7px;
    }

    .footer-not-title{
        margin-top: 36px;
    }

    .footer-icons{
        margin-top: 5px;
        .footer-icons-item{
            display: flex;
            div{
                width: 35px;
                height: 35px;
                border-radius: 100%;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                transition: 0.2s linear;
            }

            .footer-icons-item-div1{
                background-color: red;
            }

            .footer-icons-item-div2{
                background-color: #cd0079;
            }

            .footer-icons-item-div3{
                background-color: blue;
            }

            .footer-icons-item-div1:hover,
            .footer-icons-item-div2:hover,
            .footer-icons-item-div3:hover{
                cursor: pointer;
                background-color: gray;
            }
        }
    }
}