.home{

    .main{
        width: 100%;

        .main-des{
            height: 210px;
            padding-top: 64px;
            padding-bottom: 10px;
            text-align: center;
            background-color: #F5F5F5 !important;
            margin-top: -10px;

            .main-des-title{
                font-weight: normal;
                margin-bottom: 10px;
                font-size: 38px;
                color: #000000;
            }

            p{
                padding-left: 200px;
                padding-right: 200px;
                text-align: center;
                font-size: 16px !important;
                line-height: 1.6;
            }
        }
    }

    .des-hotel{
        display: flex;
        font-size: 15px !important;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 120px;
        box-sizing: border-box;
        
        .des-hotel-sidebar{
            width: 33%;
            padding: 20px;
            padding-bottom: 100px;
            box-sizing: border-box;
            border: 1px solid rgba($color: #000000, $alpha: 0.15);
            .des-hotel-sidebar-child{
                padding: 10px 7px 30px;
                h3{
                    font-weight: normal;
                    color: #000000;
                    opacity: 0.8;
                    margin-bottom: 15px;
                    font-size: 20px;
                }
                hr{
                    border: none;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
                    margin-bottom: 20px;
                }
                .des-hotel-sidebar-child-item, .des-hotel-sidebar-child-more{
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                }

                .des-hotel-sidebar-child-more{
                    margin-top: 20px;
                    color: rgb(199, 174, 34)
                }
                .des-hotel-sidebar-child-more:hover{
                    cursor: pointer;
                    color: #000000;
                }
            }
        }

        .des-hotel-rooms{
            display: flex;
            width: 67%;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-left: 20px;
            box-sizing: border-box;
        }
    }
}