.room{
    padding-left: 18px;
    padding-bottom: 22px;
    width: 400px;

    .room-img{
        width: 100%;
        height: 267px;
        overflow: hidden;
        display: inline-block;

        .room-img-content{
            width: 100%;
            height: 100%;
            transition: transform 0.3s linear;
        }

        .room-img-content:hover{
            cursor: pointer;
        }
    }

    .room-img:hover .room-img-content{
        transform: scale(1.1);
    }

    .room-attribute{
        width: 400px;
        height: 100px;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: #F5F5F5 !important;
        margin-top: -5px;

        .room-attribute-name{
            font-size: 20px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
}