.room-show{
    width: 550px;
    font-size: 15px;
    margin-right: 50px;
    margin-top: 50px;

    .room-show-img{
        width: 550px;
        height: 350px;
        overflow: hidden;
        display: inline-block;

        img{
            width: 100%;
            height: fit-content;
            transition: transform 0.3s linear;
        }
    }

    .room-show-img:hover{
        cursor: pointer;
        img{
            transform: scale(1.1);
        }
    }

    .room-show-attribute{
        background-color: white;
        border: 0.8px solid rgba(0, 0, 0, 0.5);
        margin-top: -10px;
        .room-show-type{
            padding-left: 25px;

            p{
                margin-top: 20px;
            }

            h2{
                font-weight: normal;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    
        .room-show-des{
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
    
            .room-show-des-child{
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 20px 5px 10px;
                border-bottom: 0.8px dotted rgba(0, 0, 0, 0.3);
            }

            .room-show-des-child-border-none{
                border: none;

                button{
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 20px;
                    border: none;
                    background-color: black;
                }
                .room-show-more{
                    margin-left: 20px;
                    color: rgba(0, 0, 0, 0.5);
                    p{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .room-show-more:hover{
                    color: black;
                    cursor: pointer;
                    hr{
                        border: 0.8px solid black;
                    }
                }

                button:hover{
                    cursor: pointer;
                }
            }
        }
    }
}